<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define the layout of log messages -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the default logging level and add the appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="ru.efimov.nsu.projects.objectmodel" level="TRACE"/>

</configuration>